
.searchForm{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 870px;

}
.inputInSearchForm {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    min-width: 200px;
    color: white;
}
.searchButton{
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

