.infoTag {
    width: 1000px; /* Ширина контейнера */
    min-height: 150px; /* Высота контейнера */
    border: 2px solid #000; /* Толщина и цвет рамки */
    border-radius: 10px; /* Скругление углов рамки */
    padding: 20px; /* Отступ внутри контейнера */
    margin-top: 20px;
    margin-bottom: 200px;
}

.textContainer {
    width: 100%; /* Ширина текстового контейнера равна ширине контейнера */
    height: 100%; /* Высота текстового контейнера равна высоте контейнера */
    overflow: auto; /* Появление полос прокрутки при необходимости */
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: white;
}