.infoTag {
    width: 950px; /* Ширина контейнера */
    height: auto;
    border: 2px solid #000; /* Толщина и цвет рамки */
    border-radius: 10px; /* Скругление углов рамки */
    margin: 0 200px 150px 0;
    padding: 20px;
}

.textContainer {
    width: 100%; /* Ширина текстового контейнера равна ширине контейнера */
    height: 100%; /* Высота текстового контейнера равна высоте контейнера */
    overflow: auto; /* Появление полос прокрутки при необходимости */
}

.pDescription {
    width: 100%; /* Ширина текстового контейнера равна ширине контейнера */
    height: 100%; /* Высота текстового контейнера равна высоте контейнера */
    font-size: 19px;
    line-height: 1.6;
    color: white;
}